[Desktop Entry]
Version=1.0
Type=Application
Name=Ayuz
Comment=Unofficial Control Center for Asus Laptops
Exec=ayuz
Icon=ayuz
Terminal=false
StartupNotify=true
StartupWMClass=de.guido.ayuz
Categories=Settings;HardwareSettings;System;
