[Desktop Entry]
Version=1.0
Type=Application
Name=Ayuz
Comment=Unofficial Control Center for Asus Laptops
Exec=ayuz
Icon=de.guido.ayuz
Terminal=false
StartupNotify=true
Categories=Settings;HardwareSettings;System;
